{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <h1>Nous contacter</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm">{{ form_row(form.name) }}</div>
        <div class="col-sm">{{ form_row(form.email) }}</div>
    </div>
    <div class="col-sm">{{ form_row(form.message) }}</div>
    <div class="col-sm">{{ form_row(form.honeyPot) }}</div>
    <datalist id="markers">
        <option value="0" label="R2D2"></option>
        <option value="2" label="WALL-E"></option>
        <option value="4" label="MOI"></option>
        <option value="6" label="NONO"></option>
        <option value="8" label="I-ROBOT"></option>
        <option value="10" label="X3PO"></option>
    </datalist>
    {{ form_end(form) }}
{% endblock %}
